<%- include("partials/header.ejs") %>

<div id="About" class="main-content container-fluid py-3 About bg-light">
  <div class="container col-lg-6 mx-auto pt-3">
    <div class="row">
      <div id="myDiv" class="container-fluid lead">
        <h1 class="display-5 pt-5 pb-3">About Me</h1>
        <p class="mb-4">Greetings! I'm Aeron Jake B. Daelo, a dedicated professional with a background in Electronics and Communication Engineering and over 6 years of experience as a Biomedical Engineer. I'm passionate about technology and eager to contribute my skills to the dynamic field of programming.</p>
        <p class="mb-4">During my career as a Biomedical Engineer, I've developed a strong foundation in problem-solving, critical thinking, and technical expertise. My educational background in Electronics and Communication Engineering has provided me with valuable skills in system design, analysis, and implementation.</p>
        <p class="mb-4">I'm excited to transition into programming as I see it as an opportunity to blend my technical knowledge with creative problem-solving. My goal is to leverage my experience to develop innovative software solutions that address real-world challenges.</p>
        <p class="mb-4">I thrive in collaborative environments and am always eager to learn new technologies and techniques. I believe in continuous improvement and am committed to staying updated with the latest developments in the field of programming.</p>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="jscripts/script.js"></script>
</body>
</html>
