
  <%- include('partials/header.ejs') %>

  <div class="container-fluid">
    <main class="background">
      <div class="main-content my-5 text-center d-flex align-items-center justify-content-center flex-column flex-lg-row">
        <div class="container-fluid col-lg-6 mx-auto mb-4 mb-lg-0">
          <h1 class="display-5 fw-bold text-start">
            <span class="fw-light display-6">Welcome, It's me</span> <br>
            <span class="text-warning">Aeron Jake B. Daelo</span>
          </h1>
          <p class="lead mb-4 text-start text-light fw-light">
            Come see some of the projects I've been working on. Every project, no matter how small, helps my learning process. I'm always trying new things and getting better, so please let me know what you think!
          </p>
        </div>
        <div class="col-12 col-lg-6 text-center image-logo">
          <img src="asset/portpolioIMG.jpg" alt="Portfolio image" class="img-fluid">
        </div>
      </div>
    </main>
  </div>

 